In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import sklearn
from sklearn.utils import shuffle
# from sklearn.model_selection import train_test_split

%matplotlib inline

df = pd.read_csv("C:/Users/shahh/OneDrive/Desktop/Research Paper - KS/Final CSV/April/final_data.csv")
# df = df.drop(columns=['File Name','Number of cells','Cell Number'])
df = shuffle(df)
df

,Sr. 0,Temperature,File Name,Series,Parallel,Shading,Number of cells,Voltage (V),Current (I),I/V,Solar Panel,Cell Number,Shade Percentage,IsShade
42013,42014,35,2X4_6shadding,2,4,6,8,0.74,10.84,14.64,4427,2,75.00,1
84520,84521,45,5X2_9shadding,5,2,9,10,1.01,4.34,4.30,8961,1,90.00,1
66932,66933,40,5X2_7shadding,5,2,7,10,0.33,4.35,13.19,7101,3,70.00,1
72382,72383,45,10X1_6shadding,10,1,6,10,3.83,2.18,0.57,7646,3,60.00,1
31248,31249,30,5X2_10shadding,5,2,10,10,2.89,-9.25,-3.20,3330,9,100.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70951,70952,45,10X1_4shadding,10,1,4,10,1.52,2.18,1.44,7503,2,40.00,1
71229,71230,45,10X1_4shadding,10,1,4,10,4.30,2.18,0.51,7530,10,40.00,0
61686,61687,40,3X3_6shadding,3,3,6,9,0.67,8.68,12.96,6515,4,66.67,1
50800,50801,35,5X2_9shadding,5,2,9,10,2.21,4.24,1.92,5387,1,90.00,1
61544,61545,40,3X3_5shadding,3,3,5,9,1.05,8.68,8.27,6499,6,55.56,0

In [2]:
df = df.drop(columns=['File Name'])
df

,Sr. 0,Temperature,Series,Parallel,Shading,Number of cells,Voltage (V),Current (I),I/V,Solar Panel,Cell Number,Shade Percentage,IsShade
42013,42014,35,2,4,6,8,0.74,10.84,14.64,4427,2,75.00,1
84520,84521,45,5,2,9,10,1.01,4.34,4.30,8961,1,90.00,1
66932,66933,40,5,2,7,10,0.33,4.35,13.19,7101,3,70.00,1
72382,72383,45,10,1,6,10,3.83,2.18,0.57,7646,3,60.00,1
31248,31249,30,5,2,10,10,2.89,-9.25,-3.20,3330,9,100.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70951,70952,45,10,1,4,10,1.52,2.18,1.44,7503,2,40.00,1
71229,71230,45,10,1,4,10,4.30,2.18,0.51,7530,10,40.00,0
61686,61687,40,3,3,6,9,0.67,8.68,12.96,6515,4,66.67,1
50800,50801,35,5,2,9,10,2.21,4.24,1.92,5387,1,90.00,1
61544,61545,40,3,3,5,9,1.05,8.68,8.27,6499,6,55.56,0

In [3]:
X = df.drop('IsShade', axis=1)
y = df['IsShade']

In [4]:

from sklearn.model_selection import train_test_split
# implementing train-test-split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.34, random_state=44)

In [5]:
from sklearn import model_selection
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import roc_auc_score
# random forest model creation
nbc = GaussianNB()
nbc.fit(X_train,y_train)
# predictions
nbc_predict = nbc.predict(X_test)

In [6]:
print('Train set')
train_pred = nbc.predict_proba(X_train)
print('Naive Bayes Classifier roc-auc: {}'.format(roc_auc_score(y_train, train_pred[:,1])))
print('Test set')
test_pred = nbc.predict_proba(X_test)
print('Naive Bayes Classifier roc-auc: {}'.format(roc_auc_score(y_test, test_pred[:,1])))

Train set
Naive Bayes Classifier roc-auc: 0.9326895969953898
Test set
Naive Bayes Classifier roc-auc: 0.9330517876019755

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix

nbc_cv_score = cross_val_score(nbc, X, y, cv=10, scoring='roc_auc')

In [8]:
print("=== Confusion Matrix ===")
print(confusion_matrix(y_test, nbc_predict))
print('\n')
print("=== Classification Report ===")
print(classification_report(y_test, nbc_predict))
print('\n')
print("=== All AUC Scores ===")
print(nbc_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", nbc_cv_score.mean())

=== Confusion Matrix ===
[[14860  2447]
 [ 2867 14364]]


=== Classification Report ===
              precision    recall  f1-score   support

           0       0.84      0.86      0.85     17307
           1       0.85      0.83      0.84     17231

    accuracy                           0.85     34538
   macro avg       0.85      0.85      0.85     34538
weighted avg       0.85      0.85      0.85     34538



=== All AUC Scores ===
[0.92890405 0.93382686 0.93502385 0.93578331 0.93646885 0.93284309
 0.9329835  0.92848076 0.9338349  0.93374252]


=== Mean AUC Score ===
Mean AUC Score - Random Forest:  0.9331891685906365

In [9]:
from sklearn.metrics import accuracy_score

print("Train Accuracy :: ", accuracy_score(y_train, nbc.predict(X_train)))
print("Test Accuracy  :: ", accuracy_score(y_test, nbc_predict))

Train Accuracy ::  0.8452164314907074
Test Accuracy  ::  0.84614048294632

In [13]:
from sklearn.model_selection import KFold
scores_rf = []
kfold = KFold(n_splits=10)
print("Cross-validation scores:\n{}".format(
      scores_rf.append(cross_val_score(nbc, X, y, cv=kfold))))
print("Cross-validation scores:\n{}".format(
      cross_val_score(nbc, X, y, cv=kfold)))
print()
print("10 fold (KFold): ",np.mean(scores_rf))

Cross-validation scores:
None
Cross-validation scores:
[0.84042134 0.84701713 0.84573735 0.84839535 0.8529238  0.8429809
 0.84357157 0.8429809  0.84770624 0.85046269]

10 fold (KFold):  0.8462197282929711

In [12]:
from sklearn.model_selection import StratifiedKFold
scores_rf = []
skfold = StratifiedKFold(n_splits=10)
print("Cross-validation scores:\n{}".format(
      scores_rf.append(cross_val_score(nbc, X, y, cv=kfold))))
print("Cross-validation scores:\n{}".format(
      cross_val_score(nbc, X, y, cv=skfold)))
print()
print("10 fold (StratiedFold): ",np.mean(scores_rf))

Cross-validation scores:
None
Cross-validation scores:
[0.84063392 0.84673688 0.8456541  0.84841028 0.85282536 0.84229179
 0.84404844 0.84267008 0.84729743 0.8512356 ]

10 fold (StratiedFold):  0.8462197282929711